In [19]:
#take multiple numbers as inputand print the sum
# 15 25 35 45 55 
x=[int(i) for i in input('Enter integer value:').split()]

s=0
for j in x:
  s+=j #sum=sum + j
print(sum)

Enter integer value:15 25 35 45 55
175

In [9]:
from functools import reduce
x=[int(i) for i in input('Enter integer value:').split()]

res =reduce (lambda a,b: a+b,x)
print(res)

Enter integer value:10 20 30 40 50
150

In [1]:
x=[int(i) for i in input('Enter integer value:').split()]
print(x, type(x))
print (sum(x))

Enter integer value:15 25 35 45 55
[15, 25, 35, 45, 55] <class 'list'>
175

In [11]:
li = [3,1,6,8,4]
sum(li)

29

22

SyntaxError: ignored

In [ ]:
li =[3 ,4, 6, 7, 9]
min(li)

In [ ]:
li= [3,4,6,7,9]
max(li)